# This file includes global variables that will be available inside your project
# In the app.py file, you can access the variable by importing os and then using print(os.getenv('VARIABLE_NAME'))

CLIENT_ID=d3fd543b5df34cec8a0d69cfbbcfe6e8
CLIENT_SECRET=b4b9cb12bbca4d45bd3e34a6132f0f1c